.vis.timeline .item {
  border-color: red;
  background-color: #f6f7f8;
}

form {
  margin-top: 20px;
}

#main {
  margin-top: 70px;
}

#year {
  width: 10%;
}

#jumpForm {
  margin-top: 20px;
  margin-bottom: 20px;
}

#authorName {
  width: 50%;
}
